{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<div id="auth">
        <div class="auth-box">
                    <h2>Login</h2><br>
        
                    <div class="content-section">
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset>
                                    {{ form|crispy }}
                                </fieldset>
                                <br>
                                <button class="button" type="submit">Login</button>
                            </form>
                            <br>
                            <div>
                                <a href="{% url 'register' %}">Sign up</a> | <a href="{% url 'password_reset' %}">Reset Password</a>
                            </div>
                        </div>
                
        
                </div>
        </div>

{% endblock content %}