<!-- templates/base.html -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Gardens{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  <link href="https://fonts.googleapis.com/css?family=Heebo:900|Roboto+Slab" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Open+Sans&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
  </script>
  
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  
</head>
<body>
  <div id="site">
  <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/write">
            <img src="{% static 'images/notebook.png' %}">
          </a>
          <div class="navbar-burger burger" data-target="navMenu">
              <span></span>
              <span></span>
              <span></span>
        </div>
      </div>
    
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-end">
              {% if user.is_authenticated %}

              <div class="navbar-item">
                <a href="{% url 'logout' %}">Logout</a>
              </div>
 
             {% else %}
                 <div class="navbar-item"><a href="{% url 'login' %}">Login</a></div>
                 <div class="navbar-item"><a href="{% url 'register' %}">Signup</a></div>
             {% endif %}
                    <!-- <% if(user) { %>
                      <div class="navbar-item">
                        <a class="accent bold" href="/write">Write</a>
                      </div>
                      <div class="navbar-item">
                        <a class="accent bold" href="/logout">Logout</a>
                      </div>
                    <% } %>
                    <% if(user && user.stripe_customer_id) { %>
                      <div class="navbar-item">
                          <a class="accent bold" href="/user/<%= user.id %>/subscriptions">Subscription</a>
                        </div>
                      <% } %>
                  <% if(!user) { %>
                    <div class="navbar-item">
                      <a class="accent" href="/login">Login</a>
                    </div>
                    <div class="navbar-item">
                        <a class="accent bold" href="/plans">Plans</a>
                      </div>
                  <% } %> -->
     
          </div>
        </div>
      </div>
    </nav>
    

    <!-- <div id="navWrapper">
        <div class="nav" id="nav">
          <ul>
            {% if user.is_authenticated %}

             <li><a href="{% url 'logout' %}">Logout</a></li>

            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Signup</a></li>
            {% endif %}
          </div>
          </ul>
        </div> -->

  <main id="main">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags}}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>
</div>
<script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</body>
</html>